/* Table */
.table3 {
	border-collapse: collapse;
	font-size: 14px;
	min-width: 615px;

}

.table3 th, 
.table3 td {
	border: 1px solid #e1edff;
	padding: 7px 17px;
}
.table3 caption {
	margin: 7px;
}

/* Table Header */
.table3 thead th {
	background-color: #508abb;
	color: #FFFFFF;
	border-color: #6ea1cc !important;
	text-transform: uppercase;

}

/* Table Body */
.table3 tbody td {
	color: #353535;
	font-weight: bold;
}
/*
.table3 tbody td:nth-child(4) {
	text-align: right;
}
.table3 tbody td:last-child {
	text-align: right;
}
*/
.table3 tbody tr:nth-child(odd) td {
	background-color: #f4fbff;
}
.table3 tbody tr:hover td {
	background-color: #ffffa2;
	border-color: #ffff0f;
}

/* Table Footer */
.table3 tfoot th {
	background-color: #e5f5ff;
	text-align: right;
}
.table3 tfoot th:first-child {
	text-align: left;
}
.table3 tbody td:empty
{
	background-color: #ffcccc;
}